html { height: 101% }

body
{
	color: #333;
    margin: 0px;
    padding: 10px;
}

.editor
{
    width: 200px;
}

.content ul li{
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 20px;
	line-height: 20px;
	list-style-type: none;
	background: url(../images/bullet.png) no-repeat 0 10px;
}
